@import '../vars.scss';

.nav {
  padding: 1em 0;
  box-sizing: border-box;
  border-bottom: 1px solid $grey;
  a {
    display: inline-block;
    padding: 0.5em 1rem;
    width: 100%;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.nav-title {
  padding: 0;
  margin: 0;
}
.nav-title__content {
  cursor: default;
  display: inline-block;
  padding: 0.5em 1rem;
}

a.nav-title__content,
.nav-item {
  cursor: pointer;
  transition: background 120ms ease-in-out;
  &.active {
    background: $grey;
  }
  &:hover {
    background: $turquoiseColor;
  }
}
